{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Info{% endblock %}
{% block content %}

<h1 class="page__title">Info</h1>
    {% for info in profile %}        
        <form class="form">
            <div class="cabinet">
                <div class="cabinet__form">
                    <div class="form__group  form__group--md">
                        <div class="form__control" >
                            <h1 style="color:#b3b3b3">{{ info.title }}</h1>
                        </div>                       
                    </div>        
                    <div class="form__group  form__group--md">
                        <div class="form__control">
                            <h1 style="color:#b3b3b3">{{ info.first_name }} {{ info.last_name }}</h1>
                        </div>                        
                    </div>  
                    <div class="form__group  form__group--md">
                        <div class="form__control">
                            <a  style="color:#b3b3b3" href="{{ info.link_github }}">GitHub page</a>
                        </div>                        
                    </div>    
                    <div class="form__group  form__group--md">
                        <div class="form__control">
                            <a  style="color:#b3b3b3" href="{{ info.link_linkedin }}">Linkedin page</a>
                        </div>                        
                    </div>               
                </div>  
                {% if info.profile_pic %}      
                    <div class="cabinet__avatar">
                        <img src="{{ info.profile_pic.url }}" style="width: 300px;" alt="">                   
                    </div>
                {% else %}
                    <div class="cabinet__avatar">
                        <img src="{% static 'static/images/default/default-avatar.jpg' %}" style="width: 300px;" alt="">                   
                    </div>
                {% endif %}                        
            </div>        
            <div class="form__footer">
                <a  href="/static/document/cv_python_dev.docx" download="" class="btn  btn--blue  btn--rounded  btn--sm" >Download CV</a>
            </div>
        </form>
    {% endfor %}        
{% endblock %}