{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Works{% endblock %}

{% block content %}
    {% if not works %}
        <h1 class="page__title">There are currently no works active</h1>
        <a class="btn btn--blue btn--rounded btn--sm" href="{% url 'home' %}">Back</a>
    {% else %}
        <!-- <h1 class="page__title"></h1> -->
        {% for work in works %}
            <article class="work">
                <div class="work__preview" style="width: 300px;">
                    {% if not work.work_preview %}
                        <picture>                        
                            <img src="{% static 'images/default/default-work-preview.jpg' %}" alt="">
                        </picture>
                    {% else %}
                        <picture>                        
                            <img src="{{ work.work_preview.url }}" alt="{{ work.title }}">
                        </picture>
                    {% endif %}
                </div>
                <div class="work__content">
                    <h2 class="work__title">
                        <span>{{ work.title }}</span>
                    </h2>
                    <div class="work__description">
                        <p>{{ work.description|linebreaks|slice:":180" }}</p>
                    </div>
                    {% if not work.tag %}
                        <br>
                    {% else %}
                        <ul class="tags">
                            {% for topping in work.tag.all %}
                                <li class="tags__item">{{ topping.title }}</li> 
                            {% endfor %}                       
                        </ul>
                    {% endif %}
                    <div class="work__footer">
                        <a class="btn btn--blue btn--rounded btn--sm" href="{{ work.get_absolute_url }}">Description</a>
                    </div>
                </div>
            </article>
        {% endfor %}

        <!-- Pagination -->        
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="pagination__item">
                        <a class="pagination__link" href="?page=1">&lt;</a>
                    </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="pagination__item">
                            <a class="pagination__link" href="?page={{ num }}">{{ num }}</a>
                        </li>                        
                    {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                        <li class="pagination__item">
                            <a class="pagination__link" href="?page={{ num }}">{{ num }}</a> 
                        </li>                         
                    {% endif%}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="pagination__item">
                        <a class="pagination__link" href="?page={{ page_obj.next_page_number}}">&gt;</a>
                    </li>                   
                {% endif %}
            </ul>
        {% endif %}
        <!-- Pagination --> 

    {% endif %}
{% endblock %}